* {
  box-sizing: border-box;
}

.heroImageProduct {
  display: none;
}

.HeroContainer {
  display: none;
}

.ProductVideoContainer {
  display: block;
}

.productPageTitle {
  background-color: #f5f5f5;
}

.productPageTitle h1 {
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 1px;
  padding: 30px;
}

.productPageBG {
  background-color: #f5f5f5;
}

.productsListContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  // justify-content: center;
  flex-wrap: wrap;
  background-color: #f5f5f5;
}

.productPageWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 25%;
    h2 {
      font-family: 'neue-haas-grotesk-display',sans-serif;
      font-size: 18px;
      font-weight: 400;
      text-align: left;

  }
}


.overlayButton a {
  width: 400px;
  height: 280px;
  // padding: 12px 48px;
  text-align: center;
  color: white;
  // border: solid 2px white;
  text-decoration: none;
}

.overlayButton {
  position: absolute;
  width: 400px;
  // border: solid 2px white;
  left: 15%;
  top: 40%;
  text-align: center;
  opacity: 0;
  transition: opacity .35s ease;
  z-index: 100;
  cursor: pointer;
  padding: 12px 20px;
  height: 50px;
  width: 200px;
  margin: 10px 0px;
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.1);
  // background-color: Transparent;
  // border: 2px solid #000;
  // background-color: #c67f66;
  // background-color: #fd6f64;
  background-color: #2b2f3a;
  border-radius: 25px;
  font-family: 'neue-haas-grotesk-display',sans-serif;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 1px;

}

.overlayImage:hover .overlayButton {
  opacity: 1;
}

.overlayImage {
  position: relative;
  width: 280px;
  height: 500px;
  padding: 0;
  z-index: 0;
}

.overlayImage img {
  width: 100%;
  vertical-align: top;
}

.overlayImage:after {
  content: '\A';
  position: absolute;
  width: 100%; height:100%;
  top:0; left:0;
  background:#f5f5f5;

  opacity: 0;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  z-index: 0;

}

.overlayImage:hover:after {
  opacity: 0.8;
  z-index: 0;

}

.clothingProductPage:hover {
  border: 1px solid #d9ded7;
}

.clothingProductPage {
  margin: 0px 0 40px 0;
  width: 100%;
  overflow: hidden;
  padding: 15px;
  img {
    width: 280px;
    height: auto;
    // border: 1px solid #cecece;
    object-fit: contain;
  }
  h2 {
    color: #d8b1b1;
    margin-bottom: 0px;
  }
}



// .overlay {
//   background-color: #000000;
//   z-index: 0;
//   margin: 0;
//   height: auto;
//   width: 100%;
// }

.descProductPageText {
  padding: 15px;
  text-align: center;
  padding: 10px 5px 10px 5px;
  color: #2b2f3a;
  width: 100%;
  h2 {
    font-size: 20px;
    font-weight: 500;
    color: #2b2f3a;
    margin-bottom: 0px;
    letter-spacing: 0.2px;
    text-align: center;

  }
  p {
    letter-spacing: 0.2px;
    font-weight: 400;
    color: #2b2f3a;
    font-size: 18px;
    margin-bottom: 0px;
    letter-spacing: 0.5px;
    padding: 0 10px 0 0;
  }
}

.productImage img {
  display: flex;
  align-items: center;
}

.ProductVideoContainer {
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  overflow: hidden;
  height: auto;
  z-index: 0;
  position: relative;
  video {
    height: auto;
    width: 100%;
    opacity: 0.8;
    z-index: 2;
  }
}

// .VideoContainer video {
//   height: auto;
//   width: 100%;
//   opacity: 0.2;
//   z-index: 2;
// }

#background-video-product {
  height: auto;
  width: 100%;
  // opacity: 0.5;
  z-index: 2;
}

.VideoOverlay {
  background-color: black;
  z-index: 0;
  margin: 0;
  height: auto;
  width: 100%;
}

// .descProductPageOverlay {

  // position: absolute;
  // top: 0;
  // bottom: 0;
  // left: 0;
  // right: 0;
  // height: 400px;
  // width: 25%;
//   opacity: 0;
//   transition: .5s ease;
//   background-color: #f5f5f5;
//   margin: 0px;
//   padding: 10px 10px 10px 10px;
//
// }

// .container:hover .overlay {
//   opacity: 1;
// }


// .clothingProductPage:hover .descProductPageOverlay {
//   opacity: 0.9;

  // display: flex;
  // flex-direction: column;
  // text-align: left;
  // padding: 10px 150px 0 0;
  // width: 33.33%;
  // position: fixed;
  // // width: 33.33%;
  // h2 {
  //   color: #d8b1b1;
  //   margin-bottom: 0px;
  // }
// }





@media screen and (max-width: 700px) {
  .ProductVideoContainer {
    display: none;
  }
  .VideoOverlay   {
    background-color: #000000;
    z-index: 0;
    margin: 0;
    height: auto;
    width: 100%;
  }
  .HeroContainer {
    display: block;
    background-color: black;
  }
  .heroImageProduct {
    display: block;
  }
  .productPageTitle {
    h1 {
      font-size: 26px;
      margin: 0px;
      padding: 20px;
    }
  }
  .heroImageProduct{
    width: 140%;
    align-items: center;
    img {
      opacity: 0.8;

    }
  }
  .productPageWrapper {
    width: 50%;
    img {
      width: auto;
      height: 200px;
      object-fit: contain;
  }
  .clothingProductPage {
      margin: 0px 0 5px 0;
      img {
      width: auto;
      height: 170px;
    }
  }
  .descProductPageText {
    width: 100%;
  }
  .ProductVideoContainer {
    width: 50%;
    height: auto;
  }
}
  .productPageWrapper {
    margin-top: 10px;
  }
  #background-video-product {
    width: 100%;
    object-fit: cover;
    height: auto;
    z-index: 2;
    margin-top: 60px;
    display: none;
  }
  .descProductPageText {
    padding-right: 10px;
    text-align: center;
    h2 {
      margin-top: 10px;
      font-size: 16px;
      text-align: left;
      padding-right: 0px;
      font-weight: 500;
      text-align: center;
    }
    p {
      margin-top: 5px;
      font-size: 14px;
      padding-right: 0px;
      font-weight: 400;
    }
  }
  .overlayButton a {
    width: 100px;
    height: 20px;
    // padding: 12px 48px;
    text-align: center;
    color: white;
    // border: solid 2px white;
    text-decoration: none;
  }
  .overlayButton {
    width: 100px;
    height: 40px;
    // border: solid 2px white;
    left: 20%;
    top: 40%;
  }

  .overlayImage:hover .overlayButton {
    opacity: 1;
  }

  .overlayImage {
    position: relative;
    width: 150px;
    height: 350px;
    padding: 0;
    z-index: 0;
  }

  .overlayImage img {
    width: 100%;
    vertical-align: top;
  }

  .overlayImage:after {
    content: '\A';
    position: absolute;
    width: 100%; height:100%;
    top:0; left:0;
    background:#f5f5f5;
    opacity: 0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    z-index: 0;

  }

  .overlayImage:hover:after {
    opacity: 0.8;
    z-index: 0;

  }
}
