* {
  box-sizing: border-box;
}

.productPageTitle h1 {
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 1px;
  padding: 30px;
}

.productsListContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  // justify-content: center;
  flex-wrap: wrap;
}

.productPageWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 25%;
    h2 {
      font-family: 'neue-haas-grotesk-display',sans-serif;
      font-size: 18px;
      font-weight: 400;
      text-align: left;

  }
}

.clothingProductPage {
  margin: 0px 0 40px 0;
  width: 100%;
  overflow: hidden;
  img {
    width: auto;
    height: 300px;
    border: 1px solid #cecece;
  }
  h2 {
    color: #d8b1b1;
    margin-bottom: 0px;
  }
}

.descProductPageText {
  text-align: left;
  padding: 0 10px 0 0;
  color: #2b2f3a;
  width: 100%;
  margin: 0 8%;
  h2 {
    font-size: 20px;
    font-weight: 500;
    color: #2b2f3a;
    margin-bottom: 0px;
    letter-spacing: 0.2px;
  }
  p {
    letter-spacing: 0.2px;
    font-weight: 400;
    color: #2b2f3a;
    font-size: 18px;
    margin-bottom: 0px;
    letter-spacing: 0.4px;
    padding: 0 10px 0 0;
  }
}

.ProductVideoContainer {
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  overflow: hidden;
  height: auto;
  z-index: 0;
  position: relative;
  video {
    height: auto;
    width: 100%;
    opacity: 0.8;
    z-index: 2;
  }
}

// .VideoContainer video {
//   height: auto;
//   width: 100%;
//   opacity: 0.2;
//   z-index: 2;
// }

#background-video-product {
  height: auto;
  width: 100%;
  // opacity: 0.5;
  z-index: 2;
}

.VideoOverlay {
  background-color: black;
  z-index: 0;
  margin: 0;
  height: auto;
  width: 100%;
}

// .descProductPageOverlay {

  // position: absolute;
  // top: 0;
  // bottom: 0;
  // left: 0;
  // right: 0;
  // height: 400px;
  // width: 25%;
//   opacity: 0;
//   transition: .5s ease;
//   background-color: #f5f5f5;
//   margin: 0px;
//   padding: 10px 10px 10px 10px;
//
// }

// .container:hover .overlay {
//   opacity: 1;
// }


// .clothingProductPage:hover .descProductPageOverlay {
//   opacity: 0.9;

  // display: flex;
  // flex-direction: column;
  // text-align: left;
  // padding: 10px 150px 0 0;
  // width: 33.33%;
  // position: fixed;
  // // width: 33.33%;
  // h2 {
  //   color: #d8b1b1;
  //   margin-bottom: 0px;
  // }
// }

@media screen and (max-width: 700px) {
  .ProductVideoContainer {
    display: none;
  }
  .VideoOverlay   {
    background-color: #000000;
    z-index: 0;
    margin: 0;
    height: auto;
    width: 100%;
  }
  .HeroContainer {
    display: block;
    background-color: black;
  }
  .heroImage {
    display: block;
  }
  .productPageTitle {
    h1 {
      font-size: 26px;
      margin: 0px;
      padding: 20px;
    }
  }
  .heroImage{
    width: 140%;
    align-items: center;
    img {
      opacity: 0.8;

    }
  }
  .productPageWrapper {
    width: 50%;
    img {
      width: auto;
      height: 200px;
      object-fit: contain;
  }
  .clothingProductPage {
    // padding: 5px 5px 40px 5px;
    img {
      width: auto;
      height: 170px;
    }
  }
  .descProductPageText {
    margin: 0 6%;
    width: 100%;
  }
  .ProductVideoContainer {
    width: 50%;
    height: auto;
  }
}
  .productPageWrapper {
    margin-top: 10px;
  }
  #background-video-product {
    width: 100%;
    object-fit: cover;
    height: auto;
    z-index: 2;
    margin-top: 60px;
  }
  .descProductPageText {
    padding-right: 10px;
    h2 {
      font-size: 16px;
      text-align: left;
      padding-right: 0px;
    }
    p {
      font-size: 14px;
      padding-right: 0px;
    }
  }
}
