.productPage {
  margin: 0 20px 0 20px;
}


.productPageHeader {
  h1 {
    font-family: 'neue-haas-grotesk-display',sans-serif;
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 1.2px;
    color: #2b2f3a;
    text-align: left;
    margin: 30px 0 30px 0;
  }
}

.productPageHeader {
  p {
    font-family: 'neue-haas-grotesk-display',sans-serif;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1.2px;
    width: 80%;
    color: #2b2f3a;
    text-align: left;
    margin: 30px 0 30px 0;
  }
}
.productPageWrapper {
  // border-top: 1px solid #2b2f3a;
  display: flex;
  flex-direction: column;
  // margin-top: 100px;
  h2 {
  font-family: 'neue-haas-grotesk-display',sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-align: left;
  }
}

.ProductPageContainer {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  position: relative;
  overflow: hidden;
}

.ProductVideoContainer {
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  overflow: hidden;
  height: auto;
  z-index: 0;
  position: relative;
}

.VideoContainer video {
  height: auto;
  width: 100%;
  // opacity: 0.5;
  z-index: 2;
}

#background-video-product {
  height: auto;
  width: 100%;
  // opacity: 0.5;
  z-index: 2;
}

  .VideoOverlay {
    background-color: black;
    z-index: 0;
    margin: 0;
    height: auto;
    width: 100%;
  }

.clothingProductPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px 5px 5px 5px;
  // background-color: pink;
  margin: 0px;
  width: 25%;
  overflow: hidden;
  img {
    width: auto;
    height: 300px;
    object-fit: contain;
  }
  h2 {
    color: #d8b1b1;
    margin-bottom: 0px;
  }
}

.descProductPageText {
  // display: none;
  flex-direction: column;
  text-align: left;
  padding: 0 10px 0 0;
  // width: 33.33%;
  color: #2b2f3a;
;
 // font-size: 20px;
 // position: absolute;
 // top: 50%;
 // left: 50%;
 // -webkit-transform: translate(-50%, -50%);
 // -ms-transform: translate(-50%, -50%);
 // transform: translate(-50%, -50%);
 // text-align: center;
 // padding: 10px 10px 10px 10px;
 // margin: 0px;
  // width: 25%;
  h2 {
    font-size: 24px;
    font-weight: 500;
    color: #2b2f3a;
    margin-bottom: 0px;
    letter-spacing: 0.2px;
  }
  p {
    letter-spacing: 0.2px;
    font-weight: 400;
    color: #2b2f3a;
    font-size: 18px;
    margin-bottom: 0px;
    letter-spacing: 0.4px;
    padding: 0 10px 0 0;

  }
}



// .descProductPageOverlay {

  // position: absolute;
  // top: 0;
  // bottom: 0;
  // left: 0;
  // right: 0;
  // height: 400px;
  // width: 25%;
//   opacity: 0;
//   transition: .5s ease;
//   background-color: #f5f5f5;
//   margin: 0px;
//   padding: 10px 10px 10px 10px;
//
// }

// .container:hover .overlay {
//   opacity: 1;
// }


// .clothingProductPage:hover .descProductPageOverlay {
//   opacity: 0.9;

  // display: flex;
  // flex-direction: column;
  // text-align: left;
  // padding: 10px 150px 0 0;
  // width: 33.33%;
  // position: fixed;
  // // width: 33.33%;
  // h2 {
  //   color: #d8b1b1;
  //   margin-bottom: 0px;
  // }
// }

@media screen and (max-width: 700px) {
  .clothingProductPage {
    width: 50%;
    img {
      width: auto;
      height: 200px;
      object-fit: contain;
  }
  .descProductPageText {
    width: 50%;
  }
  .ProductVideoContainer {
    width: 50%;
    height: auto;
  }
}
  .productPageWrapper {
    margin-top: 10px;
  }
  #background-video-product {
    width: 100%;
    object-fit: cover;
    height: auto;
    z-index: 2;
    margin-top: 60px;
  }
}
