* {
  box-sizing: border-box;
}


.heroWeather {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  z-index: 10;
  top: 30%;
}

.heroImage{
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  overflow: hidden;
  height: 600px;
  z-index: 0;
  position: relative;
}

.heroImage img {
  height: auto;
  width: 100%;
  // opacity: 0.8;
  z-index: 2;
}

.iconImage {
  position: absolute;
  top: 65%;
  left: 30%;
}

.iconImage img {
  width: 80px;
  height: auto;
  z-index: 5;

}

.iconContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 400px;
  // background-color: #e6c7bc;
  background-color: #f8f3f0;
  // background-color: #fae5dd;
  // background-color: #96a4a4;
  h1 {
    color: #393939;
    text-align: center;
    margin-bottom: 50px;
  img {
      width: 80px;
      height: auto;
      margin: 0;
    }
  }
}


.iconContainerButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 60px;
}

.iconMini {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33.33%;
  img {
    width: 100px;
    height: auto;
    margin: 0;
  }
}

.iconCrawl {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33.33%;
  img {
    width: 100px;
    height: auto;
    margin: 0;
  }
}

// .heroImageWrapper {
//   width: 100%;
//   height: 400px;
// }

// .heroImage {
//   width: 100%;
//
//   background-position: center center;
//   background-size: cover;
//   position: relative;
//
//   z-index: 0;
//   overflow: hidden;
  // background-repeat: no-repeat;
  // min-width: 100%;
  // min-height: 50%;
  // height: 50%;
  // background-image: linear-gradient(to top, #bfd9fe 0%, #df89b5 100%);
  // background-image: linear-gradient(to top, #ebbba7 0%, #cfc7f8 100%);
  // background: #B24592;  /* fallback for old browsers */
  // background: -webkit-linear-gradient(to bottom, #F15F79, #B24592);  /* Chrome 10-25, Safari 5.1-6 */
  // background: linear-gradient(to bottom, #F15F79, #B24592); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  // position: absolute;
  // top: 0;
  // left: 0;
  // right: 0;
  // background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
// }

// .heroImage img {
//     width: 100%;
//     height: auto;
//     object-fit: contain;
// }

.startPageWrapper {
  display: flex;
  flex-direction: column;
}

.cityDropdownWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.cityDropdown {
  margin-top: 100px;
  background-color: white;
  position: absolute;
  z-index: 2;
  width: 300px;
}

.cityDropdown select {
  width: 300px;
  height: 35px;
  font-family: 'ff-dagny-web-pro', sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.clothingWrapper {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: center;
  padding: 0px;
  margin: 0px 0px 0px 0px;
  // height: 400px;
  // width: 100%;
}

.clothingMini {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 10px 10px 10px;
  width: 45%;
  // background-color: pink;
  // height: auto;
  margin: 0px;
  height: 400px;
  img {
    width: auto;
    height: 300px;
  }
  p {
    color: #393939;
  }
}

.descMini {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  padding:30px 150px 0 0;
  width: 55%;
  h2 {
    // color: #6d8a89;
    color: #d8b1b1;
    margin-bottom: 0px;
  }
}

.buttonToProductPage {
  display: flex;
  justify-content: center;
  button {
  }
}

.weatherWrapper {
    h1, h2, p {
    color: #ffffff;
    text-transform: capitalize;
  }
  h1 {
    font-size: 200px;
    font-weight: 400;
    margin: 0px;
  }
  h2 {
    font-size: 25px;
    font-weight: 400;
    margin: 0px;
  }
  p {
    font-size: 25px;
    font-weight: 600;
    margin: 0px;
  }
}
