@import url("https://use.typekit.net/lgh8cir.css");

.footer a {
  text-decoration: none;
  color: #ffffff;
}

.footer-info p {
  font-family: "neue-haas-grotesk-display",sans-serif;
  margin: 0px;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
}

.footer-social p {
  font-family: "neue-haas-grotesk-display",sans-serif;
  margin: 0px;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;

}

.footer {
  padding: 40px 0;
  margin-left: auto;
  margin-right: auto;
  // background-color: #d8b1b1;
  width: 100%;
  background-color: #d9ded7;
}

.footer-container {
  display: flex;
  flex-direction: row;
  /* justify-content: space-around; */
  color: #000000;
  height: auto;
  width: 100%;
  padding: 0 20px;
  // width: 900px;
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
  // margin-top: 40px;
  // margin-bottom: 60px;
}


.footer-header {
  font-size: 18px;
  font-weight: 500;
  margin: 0px;
}

.footer-header-soc {
  font-size: 18px;
  font-weight: 500;
  margin: 0px;
}

.footer-header h4 {
  font-size: 18px;
  margin: 0px;
  font-weight: 600;
  letter-spacing: 0.1px;
  margin-bottom: 6px;
}

.footer-header-soc h4 {
  font-size: 18px;
  margin: 0px;
  font-weight: 600;
  letter-spacing: 0.5px;
  margin-bottom: 6px;
}


.footer-info {
  display: flex;
  flex-direction: column;
  margin-left: 60px;
  padding: 0px;
  width: 35%;
}

.footer-social {
  display: flex;
  flex-direction: column;
  margin-left: 200px;
  padding: 0px;
  width: 35%;
}

.footer-container-logo {
  display: flex;
  flex-direction: row;
  margin: 0 0 0 100px;
  padding: 0px;
  width: 25%;
  align-items: flex-start;
  img {
    width: 120px;
    height: auto;
  }
}

.footer-container-mobile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.footer a:hover {
  text-decoration: underline;
}
