button {
  display: inline-block;
  padding: 12px 20px;
  height: 50px;
  width: 200px;
  margin: 10px 0px;
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  // background-color: Transparent;
  // border: 2px solid #000;
  // background-color: #c67f66;
  background-color: #6d8a89;
  border-radius: 10px;
  font-family: 'ff-dagny-web-pro', sans-serif;
  font-weight: 500;
  line-height: 1.4;
}
