@import url("https://use.typekit.net/uik4zpc.css");


button {
  display: inline-block;
  cursor: pointer;
  padding: 12px 20px;
  height: 50px;
  width: 200px;
  margin: 10px 0px;
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.1);
  // background-color: Transparent;
  // border: 2px solid #000;
  // background-color: #c67f66;
  // background-color: #fd6f64;
  background-color: #2b2f3a;
  border-radius: 25px;
  font-family: 'neue-haas-grotesk-display',sans-serif;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 1px;
  // transition: width  0.1s;
  // transition-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
}

button:hover {
  width: 220px;
  background-color: #40434C;
}
