@import url("https://use.typekit.net/uik4zpc.css");
$font-stack: 'ff-dagny-web-pro', sans-serif;


body {
  margin: 0;
  padding: 0;
}

.appWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

// .logo:hover a:after {
//     content: "";
//     background: url(logo.svg);
//     background-repeat: no-repeat;
//     background-position: center center;
//     background-size: contain;
//     display: block;
//     position: absolute;
//     top: 0;
//     width: 100%;
//     height: 100%;
// }

p {
  font-family: 'ff-dagny-web-pro', sans-serif;
}

h4 {
  font-family: 'ff-dagny-web-pro', sans-serif;
  font-size: 18px;
  font-weight: 200;
}


.header {
  max-width: 1100px;
}

.headerWrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 15px 40px 15px 40px;
  background-color: transparent;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;

}

.header-info {
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-info img {
  padding-top: 10px;
  height: 45px;
  width: auto;
}

.header-info h4 {
  font-family: 'ff-dagny-web-pro', sans-serif;
  color: #ffffff;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 0px;
  text-decoration: none;
  margin: 0px;
  padding: 0px;
  letter-spacing: 0.5px;
  line-height: 28px;
}

.header-info a {
  font-family: 'ff-dagny-web-pro', sans-serif;

  text-decoration: none;
}

.header-list {
  display: flex;
  flex-direction: row;
}

.header-list ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
  padding: 0px;
}

.header-list li {
  font-family: 'ff-dagny-web-pro', sans-serif;

  text-decoration: none;
  list-style: none;
  margin-left: 3vw;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 48px;
}

li:hover {
  // text-decoration: underline;
}
